<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Pessoa Jurídica</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
</head>
<body>
    <main class="mainLoja">
        <div class="container">
            <h1>Tela de Cadastro de Endereço</h1>
            <form action="/loja/cadastrar" method="post">
                <h3>{{erro}}</h3>
                <label for="CEP">CEP</label>
                <span class="error-message" id="cepError"></span>
                <input type="text" id="CEP" name="CEP" placeholder="CEP: (APENAS NÚMEROS)">

                <label for="nomeFantasia">Rua</label>
                <span class="error-message" id="ruaError"></span>
                <input type="text" id="rua" name="rua" disabled>

                <label for="razaoSocial">Número</label>
                <span class="error-message" id="numeroError"></span>
                <input type="number" id="numero" name="numero">

                <label for="telefone">Complemento</label>
                <span class="error-message" id="complementoError"></span>
                <input type="text" id="complemento" name="complemento">

                <label for="celular">Bairro</label>
                <span class="error-message" id="bairroError"></span>
                <input type="text" id="bairro" name="bairro" disabled>

                <label for="celular">Cidade</label>
                <span class="error-message" id="cidadeError"></span>
                <input type="date" id="cidade" name="cidade" disabled>

                <select name="uf" id="uf" disabled>
                    <option value="">Selecione a UF</option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                  </select>
                  
               
                <input type="submit" value="Cadastrar Loja">
            </form>
        </div>
        <script src="{{ url_for('static', filename='js/creatLoja.js') }}"></script>
    </main>
    <script>

    </script>
</body>
</html>
