<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Endereço</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header class="cabeçalho1">
        <div class="perfil">
            <h3> Bem vindo</h3>
            <a href="/auth/sair"><img src="https://cdn-icons-png.flaticon.com/512/6218/6218420.png" alt=""></a>
        </div>
        
    </header>
    <main class="mainLoja">
        <div class="container">
            <h1>Tela de {% if endereco%}Edição{% else %}Cadastro{%endif%} de Endereço</h1>
            <form {% if endereco%} action="/endereco/update/{{endereco.id}}" {% else %} action="/endereco/cadastrar" {%endif%}  method="post">
                <h3>{{mensagem}}</h3>

                <label for="CEP">CEP</label>
                <span class="error-message" id="cepError"></span>
                <input type="text" id="CEP" name="CEP" placeholder="CEP: (APENAS NÚMEROS)" value="{{endereco.cep if endereco else ''}}"/>

                <label for="rua">Rua</label>
                <span class="error-message" id="ruaError"></span>
                <input type="text" id="rua" name="rua" value="{{endereco.rua if endereco else ''}}">

                <label for="numero">Número</label>
                <span class="error-message" id="numeroError"></span>
                <input type="number" id="numero" name="numero" value="{{endereco.nmr if endereco else ''}}">

                <label for="complemento">Complemento</label>
                <span class="error-message" id="complementoError"></span>
                <input type="text" id="complemento" name="complemento" value="{{endereco.complemento if endereco else ''}}">

                <label for="bairro">Bairro</label>
                <span class="error-message" id="bairroError"></span>
                <input type="text" id="bairro" name="bairro" value="{{endereco.bairro if endereco else ''}}">

                <label for="cidade">Cidade</label>
                <span class="error-message" id="cidadeError"></span>
                <input type="text" id="cidade" name="cidade" value="{{endereco.cidade if endereco else ''}}">

                <label for="uf">UF</label>
                <select name="uf" id="uf">
                    <option value="">Selecione a UF</option>
                    <option value="AC" {% if endereco and endereco.uf == "AC" %}selected{% endif %}>Acre</option>
                    <option value="AL" {% if endereco and endereco.uf == "AL" %}selected{% endif %}>Alagoas</option>
                    <option value="AP" {% if endereco and endereco.uf == "AP" %}selected{% endif %}>Amapá</option>
                    <option value="AM" {% if endereco and endereco.uf == "AM" %}selected{% endif %}>Amazonas</option>
                    <option value="BA" {% if endereco and endereco.uf == "BA" %}selected{% endif %}>Bahia</option>
                    <option value="CE" {% if endereco and endereco.uf == "CE" %}selected{% endif %}>Ceará</option>
                    <option value="DF" {% if endereco and endereco.uf == "DF" %}selected{% endif %}>Distrito Federal</option>
                    <option value="ES" {% if endereco and endereco.uf == "ES" %}selected{% endif %}>Espírito Santo</option>
                    <option value="GO" {% if endereco and endereco.uf == "GO" %}selected{% endif %}>Goiás</option>
                    <option value="MA" {% if endereco and endereco.uf == "MA" %}selected{% endif %}>Maranhão</option>
                    <option value="MT" {% if endereco and endereco.uf == "MT" %}selected{% endif %}>Mato Grosso</option>
                    <option value="MS" {% if endereco and endereco.uf == "MS" %}selected{% endif %}>Mato Grosso do Sul</option>
                    <option value="MG" {% if endereco and endereco.uf == "MG" %}selected{% endif %}>Minas Gerais</option>
                    <option value="PA" {% if endereco and endereco.uf == "PA" %}selected{% endif %}>Pará</option>
                    <option value="PB" {% if endereco and endereco.uf == "PB" %}selected{% endif %}>Paraíba</option>
                    <option value="PR" {% if endereco and endereco.uf == "PR" %}selected{% endif %}>Paraná</option>
                    <option value="PE" {% if endereco and endereco.uf == "PE" %}selected{% endif %}>Pernambuco</option>
                    <option value="PI" {% if endereco and endereco.uf == "PI" %}selected{% endif %}>Piauí</option>
                    <option value="RJ" {% if endereco and endereco.uf == "RJ" %}selected{% endif %}>Rio de Janeiro</option>
                    <option value="RN" {% if endereco and endereco.uf == "RN" %}selected{% endif %}>Rio Grande do Norte</option>
                    <option value="RS" {% if endereco and endereco.uf == "RS" %}selected{% endif %}>Rio Grande do Sul</option>
                    <option value="RO" {% if endereco and endereco.uf == "RO" %}selected{% endif %}>Rondônia</option>
                    <option value="RR" {% if endereco and endereco.uf == "RR" %}selected{% endif %}>Roraima</option>
                    <option value="SC" {% if endereco and endereco.uf == "SC" %}selected{% endif %}>Santa Catarina</option>
                    <option value="SP" {% if endereco and endereco.uf == "SP" %}selected{% endif %}>São Paulo</option>
                    <option value="SE" {% if endereco and endereco.uf == "SE" %}selected{% endif %}>Sergipe</option>
                    <option value="TO" {% if endereco and endereco.uf == "TO" %}selected{% endif %}>Tocantins</option>
                </select>

                <input type="submit" value="{% if endereco%}Editar{% else %}Cadastrar{%endif%} Endereço">
            </form>
        </div>
        <script src="{{ url_for('static', filename='js/creatEndereco.js') }}"></script>
    </main>
    
    <script>
        // Aguardar o DOM carregar completamente antes de adicionar o evento
        document.addEventListener('DOMContentLoaded', function() {
            // Selecionando o campo de CEP
            var cepInput = document.getElementById('CEP');
            if (cepInput) {
                // Adicionar o evento de blur no campo CEP para chamar a função
                cepInput.addEventListener('blur', buscarEnderecoPorCEP);
            }
        });

        // Função para buscar o endereço ao digitar o CEP
        function buscarEnderecoPorCEP() {
            var cep = document.getElementById('CEP').value.replace(/\D/g, ''); // Retirar caracteres não numéricos

            // Verifica se o CEP tem 8 dígitos
            if (cep.length === 8) {
                var url = `https://viacep.com.br/ws/${cep}/json/`;

                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        if (data.erro) {
                            alert("CEP não encontrado!");
                            return;
                        }

                        // Preenchendo os campos com os dados do endereço
                        document.getElementById('rua').value = data.logradouro;
                        document.getElementById('bairro').value = data.bairro;
                        document.getElementById('cidade').value = data.localidade;

                        // Preenchendo a UF
                        var ufSelect = document.getElementById('uf');
                        var options = ufSelect.options;
                        for (var i = 0; i < options.length; i++) {
                            if (options[i].value === data.uf) {
                                ufSelect.selectedIndex = i; // Alterando o valor da UF no select
                                break;
                            }
                        }

 

                    })
                    .catch(error => {
                        alert("Erro ao buscar o endereço. Tente novamente.");
                    });
            } else {
                // Limpa os campos caso o CEP tenha formato incorreto
                document.getElementById('rua').value = '';
                document.getElementById('bairro').value = '';
                document.getElementById('cidade').value = '';
                document.getElementById('uf').selectedIndex = 0;

            
            }
        }
    </script>
</body>
</html>
