<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa por CEP</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>
    <h2>Digite o CEP para ver o mapa da cidade</h2>
    <p>{{erro}}</p>
    <form action="buscar_cep">
        <input type="text" id="cep" placeholder="Digite o CEP" maxlength="8" name="cep">
        <input type="submit" value="Buscar">
    </form>

    <p>{{dados}}</p>
    <p>{{latLong}}</p>

    {% if dados %}
    <div class="mapBox">
        <!-- Ajuste da URL do Google Maps -->
        <iframe 
            src="https://www.google.com/maps?q={{latLong['latitude']}},{{latLong['longitude']}}&output=embed" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
    {% endif %}

    {% if enderecos_ordenados %}
        <h3>Endereços Ordenados</h3>
        {% for endereco in enderecos_ordenados %}
            <p>Endereço: {{ endereco.rua }} - Distância: {{ endereco.distancia }} km</p>
        {% endfor %}
    {% endif %}


    <script src="app.js"></script>

</body>
</html>
