<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Senha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <main class="main">
        <div class="container">
            <h2>Recuperar Senha</h2>
            <form action="/recuperarsenha" method="post">
                <label for="email">Email</label>
                <input type="text" name="email" id="email">
                <input type="submit" value="Enviar">
                
            </form>
        </div>
    </main>

</body>
</html>