<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{produto.nome_produto}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header class="cabeçalho1">
        <div class="options">
            <a href="/produto/produtos"><h4>Produtos</h4></a>
            <a href="/menu/principal"><h4>Menu</h4></a>
        </div>

        <div class="perfil">
            <h3> Bem vindo</h3>
            <a href="/auth/sair"><img src="https://cdn-icons-png.flaticon.com/512/6218/6218420.png" alt=""></a>
        </div>
        
    </header>
    {% if mensagem !="" %}
    <div class="mensagem">
        <h3>{{mensagem}}</h3>
    </div>
    {% endif %}

    <main class="corpo" style="display: block;">
       <img src="{{ url_for('static', filename='uploads/' + produto.img) }}" alt=""width=300px>
       <h2>{{produto.nome_produto}}</h2>
       {%if loja%}
            <h2>Distancia: {{loja[2]}}km</h2>
            <h2>Informações da Loja</h2>
            <p>Razão Social: {{loja[0].razaoSocial}}</p>
            <p>Nome Fantasia: {{loja[0].nomeFantasia}}</p>
            <p>Telefone: {{loja[0].telefone}}</p>
            <p>Celular: {{loja[0].celular}}</p>
            <h2>Endereço</h2>
            <a href="https://www.google.com/maps/dir/{{ loja[3].rua }},+{{ loja[3].cidade }},+{{ loja[3].uf }},+{{ loja[3].cep }}/{{ loja[1].rua }},+{{ loja[1].cidade }},+{{ loja[1].uf }},+{{ loja[1].cep }}/" 
                target="_blank" 
                style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">
                Ir 🚗
            </a>
            <div class="mapBox">
                <iframe 
                    src="https://www.google.com/maps?q={{ loja[1].rua }},+{{loja[1].nmr}},+{{ loja[1].cidade }},+{{ loja[1].uf }},+{{ loja[1].cep }}&output=embed" 
                    style="border:0;" 
                    allowfullscreen="" 
                    loading="lazy" 
                    referrerpolicy="no-referrer-when-downgrade"
                    width="300px">
                </iframe>
            </div>
            
            <p>CEP: {{loja[1].cep}}</p>
            <p>Rua: {{loja[1].rua}}</p>
            <p>Número: {{loja[1].nmr}}</p>
            <p>Complementp: {{loja[1].cep}}</p>
            <p>Bairro: {{loja[1].bairro}}</p>
            <p>Cidade: {{loja[1].cidade}}</p>
            <p>Estado: {{loja[1].uf}}</p>
       {%endif%}
    </main>
    
</body>
</html>